{% extends "layout.html" %}
{% block content %}

<section class="container card col-xl-5 mt-5 mb-5">
   <h3 class="text-center mt-2">Account</h3>
   <div class="text-center">
      <img class="card-img-top" src="{{url_for('static', filename='student_pics/')}}{{session['profilepic']}}" alt="..."
        style="height: 100px; width: 100px; border-radius: 50px;">
      <div class="text-muted"> {{form.firstname.data}} {{form.lastname.data}} </div>
      <small class="text-muted"> {{session['ID']}} </small>
   </div>
   <hr>
   <form class="row g-3" action="" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="col-md-6">
         {{ form.firstname.label(class="form-label") }}
         {% if form.firstname.errors %}
         {{ form.firstname(class="form-control is-invalid") }}
         <div class="alert alert-danger" role="alert">
            {% for error in form.firstname.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
         </div>
         {% else %}
         {{ form.firstname(class="form-control") }}
         {% endif %}
      </div>
      <div class="col-md-6">
         {{ form.lastname.label(class="form-label") }}
         {% if form.lastname.errors %}
         {{ form.lastname(class="form-control is-invalid") }}
         <div class="alert alert-danger" role="alert">
            {% for error in form.lastname.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
         </div>
         {% else %}
         {{ form.lastname(class="form-control") }}
         {% endif %}
      </div>
      <div class="col-md-6">
         {{ form.email.label(class="form-label") }}
         {% if form.email.errors %}
         {{ form.email(class="form-control is-invalid") }}
         <div class="alert alert-danger" role="alert">
            {% for error in form.email.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
         </div>
         {% else %}
         {{ form.email(class="form-control") }}
         {% endif %}
      </div>
      <div class="col-md-6">
         <label for="deptID" class="form-label">Department</label>
         <select class="form-control" name="deptID" id="deptID" required>
            {% for dept in ['civil', 'comp', 'elec', 'mech', 'prod', 'instru', 'meta'] %}
            {% if form.deptID.data == dept %}
            <option value="{{dept}}" selected>{{dept}}</option>
            {% else %}
            <option value="{{dept}}">{{dept}}</option>
            {% endif %}
            {% endfor %}
         </select>
      </div>
      <div class="col-md-4">
         <label for="gender" class="form-label">Gender</label>
         <select class="form-control" name="gender" id="gender" required>
            {% for gender in ['male', 'female', 'other'] %}
            {% if form.gender.data == gender %}
            <option value="{{gender}}" selected>{{gender}}</option>
            {% else %}
            <option value="{{gender}}">{{gender}}</option>
            {% endif %}
            {% endfor %}
         </select>
      </div>
      <div class="col-md-6">
         <label for="DOB" class="form-label">DOB</label>
         {% if form.DOB.data %}
         <input type="date" class="form-control" name="DOB" id="DOB" value="{{form.DOB.data}}" required>
         {% else %}
         <input type="date" class="form-control" name="DOB" id="DOB" required>
         {% endif %}
      </div>
      <div class="col-md-6">
         <label for="yearEnrolled" class="form-label">Year enrolled</label>
         {% if form.yearEnrolled.data %}
         <input type="number" class="form-control" name="yearEnrolled" id="yearEnrolled"
           value="{{form.yearEnrolled.data}}" max="2021" min="2000" required>
         {% else %}
         <input type="number" class="form-control" name="yearEnrolled" id="yearEnrolled" value="2021" max="2021"
           min="2000" required>
         {% endif %}
      </div>
      <div class="col-12">
         {{ form.address.label(class="form-label") }}
         {% if form.address.errors %}
         {{ form.address(class="form-control is-invalid") }}
         <div class="alert alert-danger" role="alert">
            {% for error in form.address.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
         </div>
         {% else %}
         {{ form.address(class="form-control") }}
         {% endif %}
      </div>
      <div class="col-6">
         {{ form.profilepic.label() }}
         {{ form.profilepic(class="form-control-file") }}
         {% if form.profilepic.errors %}
         {% for error in form.profilepic.errors %}
         <span class="text-danger">{{ error }}</span></br>
         {% endfor %}
         {% endif %}
      </div>

      <div class="col-12 mb-2">
         {{ form.submit(class="btn btn-outline-primary") }}
      </div>
   </form>
</section>

{% endblock content %}