{% extends "layout.html" %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-4 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="{{url_for('static', filename='images/bg2.jpg')}}" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title text-center">Student Login</h5>
                    <form class="row g-3" action="" method="POST">
                        {{ form.hidden_tag() }}
                        <div>
                            {{ form.MIS.label(class="form-label") }}
                            {% if form.MIS.errors %}
                            {{ form.MIS(class="form-control is-invalid") }}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.MIS.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.MIS(class="form-control") }}
                            {% endif %}
                        </div>
                        <div>
                            {{ form.password.label(class="form-label") }}
                            {% if form.password.errors %}
                            {{ form.password(class="form-control is-invalid") }}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.password(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="col-12 mb-2">
                            {{ form.submit(class="btn btn-outline-primary") }}
                        </div>
                    </form>
                    <div class="m-2 text-center">
                        <a class="small" href="{{url_for('student.register')}}">Don't have an account? Sign up now</a> <br>
                        <a class="small" href="{{url_for('instructor.login')}}">instructor login?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}