{% extends "layout.html" %}
{% block content %}

<section class="container card col-xl-5 mt-5 mb-5">
    <h3 class="text-center mt-2">Register</h3>
    <hr>
    <form class="row g-3" action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="col-md-4">
            {{ form.MIS.label(class="form-label") }}
            {% if form.MIS.errors %}
            {{ form.MIS(class="form-control is-invalid") }}
            <div class="alert alert-danger" role="alert">
                {% for error in form.MIS.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.MIS(class="form-control") }}
            {% endif %}
        </div>
        <div class="col-md-4">
            {{ form.firstname.label(class="form-label") }}
            {% if form.firstname.errors %}
            {{ form.firstname(class="form-control is-invalid") }}
            <div class="alert alert-danger" role="alert">
                {% for error in form.firstname.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.firstname(class="form-control") }}
            {% endif %}
        </div>
        <div class="col-md-4">
            {{ form.lastname.label(class="form-label") }}
            {% if form.lastname.errors %}
            {{ form.lastname(class="form-control is-invalid") }}
            <div class="alert alert-danger" role="alert">
                {% for error in form.lastname.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.lastname(class="form-control") }}
            {% endif %}
        </div>
        <div class="col-md-4">
            {{ form.gender.label(class="form-label") }}
            {% if form.gender.errors %}
            {{ form.gender(class="form-control is-invalid") }}
            <div class="alert alert-danger" role="alert">
                {% for error in form.gender.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.gender(class="form-control") }}
            {% endif %}
        </div>
        <div class="col-12 mb-2">
           {{ form.submit(class="btn btn-outline-primary") }}
        </div>
        <div class="m-2 text-center">
            <a class="small" href="{{url_for('login')}}">Already have an account? Login now</a>
        </div>
    </form>
</section>

{% endblock content %}