{% extends "layout.html" %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-4 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="{{url_for('static', filename='images/bg2.jpg')}}" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success w-100">Login</button>
                    </form>
                    <div class="m-2 text-center">
                        <a class="small" href="{{url_for('register')}}">Don't have an account? Sign up now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}