{% extends "layout.html" %}
{% block content %}
<section class="container d-flex justify-content-around flex-wrap">
   <div class="card mt-2 mb-2" style="width: 18rem;">
      <img src="{{url_for('static', filename='images/course.jpeg')}}" class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title text-center">{{details['courseName']}}</h5>
         <h6 class="card-subtitle mb-2 text-muted text-center">{{details['courseId']}}</h6>
         <div class="d-flex flex-column" style="font-weight: 400; font-size: small;">
            <table class="table table-striped">
               <tr>
                  <td>Credits</td>
                  <td>{{details['credits']}}</td>
               </tr>
               <tr>
                  <td>Term</td>
                  <td>{{details['term']}}</td>
               </tr>
               <tr>
                  <td>Seats Left</td>
                  <td> {{details['seatsLeft']}} </td>
               </tr>
               <tr>
                  <td>Capacity</td>
                  <td>{{details['maxCap']}}</td>
               </tr>
               <tr>
                  <td>DeptID</td>
                  <td>{{details['deptID']}}</td>
               </tr>
               <tr>
                  <td>Textbook</td>
                  <td>{{details['textbook']}}</td>
               </tr>
               <tr>
                  <td>Reference Textbook</td>
                  <td>{{details['refTextbook']}}</td>
               </tr>
            </table>
         </div>
      </div>
   </div>
</section>
{% endblock content %}