{% extends "layout.html" %}
{% block content %}

<section class="container card col-xl-5 mt-5 mb-5">
   <h3 class="text-center mt-2">Register</h3>
   <hr>
   <form class="row g-3" action="" method="POST">
      {{ form.hidden_tag() }}
      <div class="col-md-4">
         {{ form.MIS.label(class="form-label") }}
         {% if form.MIS.errors %}
         {{ form.MIS(class="form-control is-invalid") }}
         <div class="alert alert-danger" role="alert">
            {% for error in form.MIS.errors %}
            <span>{{ error }}</span>
            {% endfor %}
         </div>
         {% else %}
         {{ form.MIS(class="form-control") }}
         {% endif %}
      </div>
      <div class="col-md-4">
         {{ form.password.label(class="form-label") }}
         {% if form.password.errors %}
         {{ form.password(class="form-control is-invalid") }}
         <div class="alert alert-danger" role="alert">
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
         </div>
         {% else %}
         {{ form.password(class="form-control") }}
         {% endif %}
      </div>
      <div class="col-md-4">
         {{ form.confirm_password.label(class="form-label") }}
         {% if form.confirm_password.errors %}
         {{ form.confirm_password(class="form-control is-invalid") }}
         <div class="alert alert-danger" role="alert">
            {% for error in form.confirm_password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
         </div>
         {% else %}
         {{ form.confirm_password(class="form-control") }}
         {% endif %}
      </div>
      <div class="col-12 mb-2">
         {{ form.submit(class="btn btn-outline-primary") }}
      </div>
   </form>
   <div class="m-2 text-center">
      <a class="small" href="{{url_for('login')}}">Already have an account? Login now</a>
   </div>
</section>

{% endblock content %}