{% extends "layout.html" %}
{% block content %}

<section class="container card col-xl-5 mt-5 mb-5">
   <h3 class="text-center mt-2">Account</h3>
   <hr>
   <form class="row g-3" action="{{url_for('login')}}" method="POST">
      <div class="col-md-4">
         <label for="name" class="form-label">First Name</label>
         <input type="text" class="form-control" id="name" placeholder="First name" required>
      </div>
      <div class="col-md-4">
         <label for="name" class="form-label">Middle Name</label>
         <input type="text" class="form-control" id="name" placeholder="Middle name" required>
      </div>
      <div class="col-md-4">
         <label for="name" class="form-label">Last Name</label>
         <input type="text" class="form-control" id="name" placeholder="Last name" required>
      </div>
      <div class="col-md-6">
         <label for="email" class="form-label">Email</label>
         <input type="email" class="form-control" id="email" placeholder="Type your college email id...">
      </div>
      <div class="col-md-4">
         <label for="ID" class="form-label">ID</label>
         <input type="number" class="form-control" id="ID" maxlength="20" required>
      </div>
      <div class="col-md-2">
         <label for="gender" class="form-label">Gender</label>
         <select class="form-control" name="gender" id="gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
         </select>
      </div>
      <div class="col-md-4">
         <label for="DOB" class="form-label">DOB</label>
         <input type="date" class="form-control" id="DOB" required>
      </div>
      <div class="col-md-4">
         <label for="Dept-ID" class="form-label">Dept. ID</label>
         <input type="text" class="form-control" id="Dept-ID" required>
      </div>
      <div class="col-md-4">
         <label for="yearEnrolled" class="form-label">Year enrolled</label>
         <input type="number" class="form-control" id="yearEnrolled" value="2021" max="2021" min="2000" required>
      </div>
      <div class="col-12">
         <label for="address" class="form-label">Address</label>
         <input type="text" class="form-control" id="address" placeholder="Type your permanent address...">
      </div>
      <div class="col-md-4">
         <label for="state" class="form-label">State</label>
         <input type="text" class="form-control" id="state" placeholder="State" required>
      </div>
      <div class="col-md-6">
         <label for="city" class="form-label">City</label>
         <input type="text" class="form-control" id="city" required>
      </div>
      <div class="col-md-2">
         <label for="zip" class="form-label">Zip</label>
         <input type="text" class="form-control" id="zip" required>
      </div>
      <div class="col-md-12">
         <label for="profile" class="form-label">profile picture</label>
         <input type="file" class="form-control" id="profile" required>
      </div>
      <div class="col-md-6">
         <label for="password" class="form-label">Password</label>
         <input type="password" class="form-control" name="password" id="password" minlength="8" maxlength="20"
           required>
      </div>
      <div class="col-12 mb-2">
         <button type="submit" class="btn btn-primary col-12">Update</button>
      </div>
   </form>
</section>

<script>
   var check = function () {
      if (document.getElementById('password').value ==
         document.getElementById('confirm_password').value) {
         document.getElementById('confirm_password').style.color = 'green';
      } else {
         document.getElementById('confirm_password').style.color = 'red';
      }
   }
</script>

{% endblock content %}